.gradient-text {
  background: linear-gradient(to right, yellow, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-animation {
  display: inline-block; /* Allows animation on inline elements */
  opacity: 0; /* Start with text invisible */
  animation: textAppear 4s forwards; /* Use forwards to keep the text visible after animation */
}

@keyframes textAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
