.gradient-text {
  background: linear-gradient(to right, yellow, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* CSS */
.text-animation-enter {
  opacity: 0;
}

.text-animation-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.text-animation-exit {
  opacity: 1;
}

.text-animation-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
